@model IEnumerable<StudyTweets.video>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.uploadfile)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.userid)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.uploadfile)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.userid)
            </td>
            <td>
                @Html.ActionLink("Users", "Users", new { id = item.userid})

                

             
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
